<!--copied from Brittney Lab3-->

<ul class="list-group">
    <li class="list-group-item list-group-item-info">

        <div id="statusRadioButtons" (change)="checkDatabaseFilters()">
            <input id="statusBoth" type="radio" name="status" value="" checked> Both <br/>
            <input id="statusIncomplete" type="radio" name="status" value="false" > Incomplete <br/>
            <input id="statusComplete" type="radio" name="status" value="true" > Complete
        </div>

        <select id="ownerDropdown" ng-model="selectedOwner" (change)="checkDatabaseFilters()">
            <option value=""></option>
            <option *ngFor="let owner of owners" value="{{owner._id}}">{{owner._id}}</option>
        </select>

        <!--<input #input type="text" placeholder="Filter by Owner" (input)="searchOwner = $event.target.value">-->

        <input #input type="text" placeholder="Search by ID" (input)="searchID = $event.target.value">
        <input #input type="text" Placeholder="Filter by Category" (input)="searchCategory = $event.target.value">
        <input #input id="bodyText" type="text" Placeholder="Search Body" (input)="searchBody = $event.target.value">
        <button (click)="checkDatabaseFilters()">Filter Body</button>

    </li>
    <li class="list-group-item list-group-item-info">Todos</li>
    <li *ngFor="let todo of todos | filterBy: {category: searchCategory} | filterBy: {_id: searchID}" class="list-group-item">
        {{"Owner: " + todo.owner}} <br>
        {{"ID: " +  todo._id}} <br>
        {{"Category: " + todo.category}} <br>
        {{"Status: " + todo.status}} <br>
        {{"Body: " + todo.body}}
    </li>
</ul>